@import "./global.module.scss";

.section {
  margin-top: 48px;
  max-width: 80%;
  margin: 0 auto;

  .top {
    // display: flex;
    // align-items: center;
    // margin-bottom: 48px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--neutrals6);
  }

  .title {
    margin-right: auto;
    font-size: 24px;
    line-height: calc(32 / 24);
    letter-spacing: -0.001em;
    color: var(--neutral5);
  }

  .search {
    position: relative;
    // flex-shrink: 0;
    // margin-bottom: 48px;
  }

  .input {
    width: 100%;
    height: 38px;
    padding: 0 48px 0 14px;
    border-radius: 12px;
    background: none;
    border: 2px solid var(--neutrals6);
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    line-height: calc(24 / 14);
    color: var(--neutrals2);
    transition: border-color 0.2s;

    &::placeholder {
      color: var(--neutrals4);
    }

    &:focus,
    &:hover,
    &:active {
      border-color: var(--neutrals4);
    }
  }

  .result {
    position: absolute;

    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    right: 8px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: var(--neutrals5);
    border: 2px solid var(--neutrals6);
    background: transparent;
    transition: all 0.4s;

    svg {
      fill: var(--neutrals8);
    }

    &:hover {
      border: 1px solid var(--blue);
      color: var(--blue);
    }
  }

  .sorting {
    display: flex;
    align-items: center;
  }

  .dropdown {
    width: 256px;
    margin-right: auto;
  }

//   .form {
//     margin-bottom: 48px;
//   }

  .nav {
    display: flex;

    .link {
      cursor: pointer;
      flex-shrink: 0;
      margin: 0 6px;
      padding: 6px 12px;
      border-radius: 14px;
      background: none;
      font-size: 14px;
      line-height: calc(16 / 14);
      font-weight: 700;
      color: var(--neutrals4);
      transition: all 0.2s;
      font-family: "DM Sans", sans-serif;
      border: 1px solid transparent;

      &:hover {
        background: var(--neutrals4);
        color: var(--neutrals8);
        border: 1px solid var(--neutrals4);
      }

      &.active {
        background: var(--neutrals3);
        color: var(--neutrals8);
        border: 1px solid var(--neutrals3);
      }
    }
  }

  .row {
    display: flex;
  }

  .wrapper {
    flex-grow: 1;
    padding-left: 32px;
  }

  .filters {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    width: 256px;
    gap: 20px;
    margin-top: 40px;
  }
  .open_filter{
    display: none;
  }
//   .range {
//     margin-bottom: 24px;
//     align-items: center;
//   }

  .prices {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .separator {
    margin: 0 8px;
    font-weight: 600;
  }

  .button {
    width: 100%;
    margin: 12px auto;
  }

  .scale {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
  }

  .group {
    margin-bottom: 24px;
    padding: 24px 0;
    border-width: 1px 0;
    border-style: solid;
    border-color: var(--neutrals6);
  }

  .item {
    margin-bottom: 24px;
  }

  .label {
    margin-bottom: 12px;
    font-size: 12px;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--neutrals5);
  }

  .inform {
    margin: 100px auto;
    font-size: 12px;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--neutrals4);
  }

  .list {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;

    // margin: -32px -16px 0;
  }

  .card {
    // flex: 0 0 calc(50% - 32px);
    flex: 1;
    max-width: calc(50% - 32px);
    min-width: 350px;
    margin: 32px 16px 0;
    padding: 12px;
    box-shadow: 0px 32px 32px rgba(31, 47, 70, 0.12);
    border-radius: 20px;
  }

  .btns {
    margin-top: 32px;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .section {
    max-width: 100%;
    .row {
      flex-direction: column;
      .open_filter{
        margin-left: 5px;
        display: block;
        position: absolute;
        top: 8%;
        left: 0;
        z-index: 999;
        background-color: rgb(247, 247, 247);
        padding: 10px;
        border-radius: 100px;
        display: grid;
        place-items: center;
        color: white;
        i{
            font-size: 20px;
            
        }
      }
    }

    .wrapper {
      padding: 0 10px;
    }

    .filters {
      display: none;
      position: absolute;
      z-index: 999;  
      background-color: white;
        width: 100%;
        padding: 10px;

    }
    .open{
        display: block;
    }

    .list {
      margin: -32px -16px 0;
    }

    .card {
      flex: 0 0 100%;
      max-width: 100%;
      margin: 32px 16px 0;
    }
  }

    
}
