.header {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin-bottom: 30px;

  .nav_wrapper {
    box-shadow: 0 2px 10px rgb(0 0 0 / 0.2);
    margin-bottom: -10px;
  }

  .aircraft_name {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 10px;
    height: 130px;
    position: relative;


    .name {
      color: #272727;
      text-align: center;
      font-weight: 500;
    }

    .aircraft_year {
      color: #000;
      text-align: center;
      font-size: 1rem;
    }
  }



  .top_header {
    display: flex;
    align-items: center;
    padding: 10px;

    .left {
      flex: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 20px;

      .lang {
        color: gray;
        font-size: 1.5rem;
      }
    }

    .right {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      gap: 20px;
      font-size: 1em;
    }
  }

  .nav {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 20%;

    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;
      list-style: none;

      li {
        color: #000;
        font-size: 15px;
        font-weight: 400;
        text-decoration: none;

        .logo_img {

          width: 80px;
          height: auto;
          margin-right: 5px;
        }

        &:hover {
          color: rgb(154, 144, 144);
        }
      }
    }
  }

  .responsive_menu {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header {
    .top_header {
      .left {
        .logo {
          img {
            max-width: 30%;
          }
        }
      }
    }

    .nav {
      display: none;
    }

    .responsive_menu {
      display: block;
      position: relative;

      .menu_icon {
        display: block;
        width: 30px;
        height: 30px;
        position: relative;
        cursor: pointer;
        width: 95%;
        text-align: end;
        font-size: larger;
      }

      .menu {
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        background-color: #fff;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        padding: 5px 20px;
        display: none;
      }

      .active {
        display: block;
      }
    }
  }
}

@media print {
  .header {
    display: none;
  }
}