// global styles for compare aircraft page*

.compare_table {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
    scrollbar-width: none;

    .compare_table_column {
        &:nth-child(1) {
            border-right: #a4a4a4 1px solid;
        }

        &:nth-child(2) {
            border-right: #a4a4a4 1px solid;
        }

        &:nth-child(3) {
            border-right: #a4a4a4 1px solid;
        }

        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 10px;
        font-size: 1.1rem;

        .compare_table_column_cell {
            margin-bottom: 20px;
            text-align: center;
        }

        .invisible {
            visibility: hidden;
        }

        .table_key {
            font-weight: bolder;
            text-align: start;
        }

        .table_column_head {
            font-weight: bolder;
            text-align: center;
        }

        .remove_btn {
            border-radius: 15px;
            outline: none;
            border: none;
            background-color: #c4c4c4;
            padding: 5px 15px;
            font-weight: bolder;
            cursor: pointer;

            &:hover {
                background-color: #a4a4a4;
            }
        }
    }
}

.btn {
    border-radius: 15px;
    outline: none;
    border: none;
    background-color: #c4c4c4;
    padding: 5px 15px;
    font-weight: bolder;
    cursor: pointer;

    &:hover {
        background-color: #a4a4a4;
    }
}


// key fact

.key_facts_container {
    .facts {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        overflow: auto;
        text-align: left !important;
        scrollbar-width: none;

        .fact {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex: 1;
            padding: 10px;
            gap: 20px;

            &:nth-child(1) {
                border-right: #a4a4a4 1px solid;
            }

            &:nth-child(2) {
                border-right: #a4a4a4 1px solid;
            }

            &:nth-child(3) {
                border-right: #a4a4a4 1px solid;
            }

            .image_container {
                position: relative;

                img {
                    object-fit: cover;
                    width: 170px;
                    height: auto;
                    border-radius: 15px;
                }
            }

            .btn {
                border-radius: 15px;
                outline: none;
                border: none;
                background-color: #c4c4c4;
                padding: 5px 15px;
                font-weight: bolder;
                cursor: pointer;

                &:hover {
                    background-color: #a4a4a4;
                }
            }
        }
    }
}

.chart_dates {
    width: 50%;
    margin-bottom: 15px;
    text-align: center;
    margin-left: 25%;
    display: flex;
    flex-wrap: wrap;
    gap: 50px
}

.single_select {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    width: 30%;
}




// Ownership Costs 
.ownership_container {

    .additional_info {

        .key_value_bar {
            flex: 1;
            display: flex;
            align-items: center;
            gap: 10px;

            .key_value {
                flex: 1;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 10px;
                white-space: nowrap;
            }

            .bar {
                flex: 2;
                background-color: rgb(230, 228, 229);
                height: 15px;
                transition: width 1s ease-in-out;
                text-align: end;
                color: beige;
                padding-right: 10px;
                position: relative;
                border-radius: 15px;

                .bar__fill1 {
                    background-color: rgba(255, 99, 132, 1);
                    height: 15px;
                    transition: width 1s ease-in-out;
                    text-align: end;
                    color: beige;
                    // width: 30%;
                    padding-right: 10px;
                    position: relative;
                    border-radius: 15px;
                }

                .bar__fill2 {
                    background-color: rgba(54, 162, 235, 1);
                    height: 15px;
                    transition: width 1s ease-in-out;
                    text-align: end;
                    color: beige;
                    // width: 30%;
                    padding-right: 10px;
                    position: relative;
                    border-radius: 15px;
                }

                .bar__fill3 {
                    background-color: rgba(255, 206, 86, 1);
                    height: 15px;
                    transition: width 1s ease-in-out;
                    text-align: end;
                    color: beige;
                    // width: 30%;
                    padding-right: 10px;
                    position: relative;
                    border-radius: 15px;
                }

                .bar__fill4 {
                    background-color: rgba(75, 192, 192, 1);
                    height: 15px;
                    transition: width 1s ease-in-out;
                    text-align: end;
                    color: beige;
                    // width: 30%;
                    padding-right: 10px;
                    position: relative;
                    border-radius: 15px;
                }

                .bar__fill5 {
                    background-color: rgba(75, 192, 192, 1);
                    height: 15px;
                    transition: width 1s ease-in-out;
                    text-align: end;
                    color: beige;
                    // width: 30%;
                    padding-right: 10px;
                    position: relative;
                    border-radius: 15px;
                }

                .bar__fill6 {
                    background-color: rgba(153, 102, 255, 1);
                    height: 15px;
                    transition: width 1s ease-in-out;
                    text-align: end;
                    color: beige;
                    // width: 30%;
                    padding-right: 10px;
                    position: relative;
                    border-radius: 15px;
                }

                .bar__fill8 {
                    background-color: rgb(199, 55, 158);
                    height: 15px;
                    transition: width 1s ease-in-out;
                    text-align: end;
                    color: beige;
                    // width: 30%;
                    padding-right: 10px;
                    position: relative;
                    border-radius: 15px;
                }

                .bar__fill7 {
                    background-color: rgba(255, 159, 64, 1);
                    height: 15px;
                    transition: width 1s ease-in-out;
                    text-align: end;
                    color: beige;
                    // width: 30%;
                    padding-right: 10px;
                    position: relative;
                    border-radius: 15px;
                }

            }
        }
    }
}




.sorting {

    right: 0;
    padding-top: 20px;

    input {
        max-width: 120px;
        height: 30px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0px 0px 2px 0px rgba(99, 99, 99, 0.75);
        padding: 0 5px;
        outline: none;

        &:focus {
            border: 1px solid rgb(139, 139, 139);
        }
    }

    .dropdown {
        .dropdown {
            .head {
                display: none;
            }
        }
    }
}

.aquisition_container {
    .future_value {
        text-align: center;
    }
}


@media print {
    .compare_table {
        .compare_table_column {
            font-size: 1.2rem;
        }
    }

    .button {
        display: none;
    }
}