.for_pdf {
  display: none;
}

@media print {
  .for_pdf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 30px;
    
    .first_page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        .logo_container {
          display: flex;
          justify-content: center;
          img {
            max-width: 40%;
          }
        }
        .sample_aircrafts {
          display: flex;
          align-items: center;
          gap: 40px;
          .sample_aircraft {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            .image_container {
              position: relative;
              img {
                object-fit: cover;
                width: 220px;
                height: auto;
                border-radius: 15px;
              }
            }
            .aircraft_name {
              font-size: 1.2em;
              font-weight: 600;
            }
          }
        }
      }
    .second_page {
      position: relative;
      page-break-after: always;
      page-break-before: always;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p{
        text-align: center;
        font-size: 1.6rem;
      }
    }
  }
}
